#testimonials {

  @mixin clearfix;

  padding: 4rem 0;

  .testimonials--headline {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  }

  h2:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: $green;
    width: 4rem;
   }
  h2:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: $green;
    width: 4rem;
   }

}


.testimonials-content {
  padding-left: 0;
  padding-right: 0;
  color: $grey;
  font-size: 2rem;
  position: relative;
  padding-top: 2rem;
  font-style: italic;

  @media $small {
    padding-right: 75px;
    padding-left: 75px;
  }
}



#testimonials .divider {
  color: #ff9933;
  font-family: 'Montserrat-Regular';
  font-size: 24px;
  margin: 10px 0;

@media $small {
    margin-left: 15%;
    margin-right: 15%;
  }

}


.fa-quote-left {
    position: absolute;
    z-index: -5;
    opacity: .2;
    left: -2rem;
    color: $green;
}

.fa-quote-right {
    position: absolute;
    z-index: -5;
    opacity: .2;
    right: 2rem;
    bottom: 0;
    color: $green;
}
